.HelloTable {
    overflow: auto;
}

.HelloTable table {
    background-color: #f2f2f2;
    width: 100%;
    border-collapse:collapse;
    text-align: center;
}

.HelloTable tbody {
    text-align: center;
}

.HelloTable tr {
    border-bottom: 1px solid #abb5c4;
    
}

.HelloTable table thead th {
    color: #1a633f;
    padding: 10px;
}

.HelloTable table tbody td {
    color: #1b405e;
    padding: 5px;
}